body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(185, 184, 184);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}