@media(max-width:480px){
    .main-intro-section{
        padding-top: 1rem;
        text-align: center;
    }
    
    #heading-text{
        font-size: 3rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    #main-para{
        font-size: 1.6rem;
        font-family: sans-serif;
        line-height: 2rem;
        padding: 1rem;
    }
}